<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft_engin.hospital.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.soft_engin.hospital.entity.UserInfo">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id
        ,create_time,update_time,
        name,sex,password,
        phone,level
    </sql>
</mapper>
